// Variables

$color-primary: black;
$color-secondary: blue;
$color-third: red;
$font-family-base: Helvetica;

$color-background: #f5f3ea;
$color-headline: #ee6f5f;
$color-active-input: #fff;
$color-active-btn: #ee6f5f;
$color-hover-btn: #fff;
$color-active-link: #ee6f5f;
$color-hover-link: #ee6f5f;
$color-text: #000;
