@import "variables";
@import "fonts";
@import "header";
@import "footer";
@import "form";
@import "lib/bootstrap/bootstrap";
@import "lib/fontawesome/regular";
@import "lib/fontawesome/solid";
@import "lib/fontawesome/fontawesome";

body {
  background: $color-background;
  width: 45vw;
  margin: 0 auto;
}

header {
}

main {
}
.content {
  background-color: aqua;
}
.contact {
  background-color: gray;
}

footer {
}

.flexcolumn {
  display: flex;
  flex-direction: column;
}

.flexrow {
  display: flex;
  flex-direction: row;
}
